
body, h2 {
	font-family: 'Josefin Sans', sans-serif;
}

.button {
	font-family: 'Bree Serif', sans-serif;
	font-size: 18px;
	line-height: 1;
}

input[type=text]:focus, textarea:focus {
  border: 1px solid #008CBA;
}

.reveal-modal h2 {
	padding-left: 15px;
	color: midnightblue;
}

img.grayscale {
	-webkit-filter: grayscale(100%);
  -webkit-transition: all .6s ease;
  -webkit-backface-visibility: hidden;
  -moz-transition: .6s;
}

img.grayscale:hover {
  -webkit-filter: grayscale(0%);
}

.greets {
	text-align: center;
	color: midnightblue;
  font-size: 36px;
}

.subgreet {
	font-size: 24px;
}

.subtext, .sarcasm {
	display: none;
}

.my-avatar {
	height: 140px;
	width: 140px;
	border-radius: 50%;
	border: 3px solid #fff;
}

.abs {
	position: absolute;
	z-index: 1;
}

.padded {
	padding-top: 140px;
}

div.lines {
	padding-top: 14px;
	padding-bottom: 20px;
}

div.ws {
	padding-top: 20px;
}

div.ws-large {
	padding-top: 100px;
}

ul.social {
	text-decoration: none;
	list-style: none;
	margin-left: -18px;
}

ul.social li {
	display: inline;
	padding: 4px;
}

.fa:hover {
	color: green;
}

.fa-github {
  color: #171515;
}

.fa-facebook {
  color: #3B5998;
}

.fa-linkedin {
  color: #007BB5;
}

.fa-heart {
  color: #E45151;
}

.redness {
	background-color: #E45151;
}

.redness:hover {
	background-color: #BF4444;
}

.err {
	color: #E45151;
}

.input-err {
	border-color: #E45151 !important;
}
